.default-DiBr_ {
  color: white;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.default-DiBr_:hover {
  color: #ffffff;
  background: #1a1a1a;
}
.default-DiBr_.selected-C2YRC:hover {
  background: #ffffff;
}
.default-DiBr_:active {
  color: #ffffff;
  background: #1a1a1a;
}
.default-DiBr_.selected-C2YRC:active {
  background: #ffffff;
}
.default-DiBr_:focus {
  color: #ffffff;
  background: #1a1a1a;
}
.default-DiBr_.selected-C2YRC:focus {
  background: #ffffff;
}
.default-DiBr_:disabled {
  color: #cccccc;
  background: #1a1a1a;
}
.default-DiBr_.selected-C2YRC:disabled {
  background: #cccccc;
}
.default-DiBr_.selected-C2YRC {
  color: #1a1a1a;
  background: white;
}
.primary-pCzrJ {
  color: #eed202;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.primary-pCzrJ:hover {
  color: #fde426;
  background: #1a1a1a;
}
.primary-pCzrJ.selected-C2YRC:hover {
  background: #fde426;
}
.primary-pCzrJ:active {
  color: #fde426;
  background: #1a1a1a;
}
.primary-pCzrJ.selected-C2YRC:active {
  background: #fde426;
}
.primary-pCzrJ:focus {
  color: #fde426;
  background: #1a1a1a;
}
.primary-pCzrJ.selected-C2YRC:focus {
  background: #fde426;
}
.primary-pCzrJ:disabled {
  color: #897901;
  background: #1a1a1a;
}
.primary-pCzrJ.selected-C2YRC:disabled {
  background: #897901;
}
.primary-pCzrJ.selected-C2YRC {
  color: #1a1a1a;
  background: #eed202;
}
.danger-gwAPp {
  color: #f25959;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.danger-gwAPp:hover {
  color: #f68989;
  background: #1a1a1a;
}
.danger-gwAPp.selected-C2YRC:hover {
  background: #f68989;
}
.danger-gwAPp:active {
  color: #f68989;
  background: #1a1a1a;
}
.danger-gwAPp.selected-C2YRC:active {
  background: #f68989;
}
.danger-gwAPp:focus {
  color: #f68989;
  background: #1a1a1a;
}
.danger-gwAPp.selected-C2YRC:focus {
  background: #f68989;
}
.danger-gwAPp:disabled {
  color: #d51010;
  background: #1a1a1a;
}
.danger-gwAPp.selected-C2YRC:disabled {
  background: #d51010;
}
.danger-gwAPp.selected-C2YRC {
  color: #e6e6e6;
  background: #f25959;
}
.warning-GXrUq {
  color: #e69933;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.warning-GXrUq:hover {
  color: #ebb060;
  background: #1a1a1a;
}
.warning-GXrUq.selected-C2YRC:hover {
  background: #ebb060;
}
.warning-GXrUq:active {
  color: #ebb060;
  background: #1a1a1a;
}
.warning-GXrUq.selected-C2YRC:active {
  background: #ebb060;
}
.warning-GXrUq:focus {
  color: #ebb060;
  background: #1a1a1a;
}
.warning-GXrUq.selected-C2YRC:focus {
  background: #ebb060;
}
.warning-GXrUq:disabled {
  color: #9f6314;
  background: #1a1a1a;
}
.warning-GXrUq.selected-C2YRC:disabled {
  background: #9f6314;
}
.warning-GXrUq.selected-C2YRC {
  color: #1a1a1a;
  background: #e69933;
}
.success-Xop5v {
  color: #66cc66;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.success-Xop5v:hover {
  color: #8cd98c;
  background: #1a1a1a;
}
.success-Xop5v.selected-C2YRC:hover {
  background: #8cd98c;
}
.success-Xop5v:active {
  color: #8cd98c;
  background: #1a1a1a;
}
.success-Xop5v.selected-C2YRC:active {
  background: #8cd98c;
}
.success-Xop5v:focus {
  color: #8cd98c;
  background: #1a1a1a;
}
.success-Xop5v.selected-C2YRC:focus {
  background: #8cd98c;
}
.success-Xop5v:disabled {
  color: #339933;
  background: #1a1a1a;
}
.success-Xop5v.selected-C2YRC:disabled {
  background: #339933;
}
.success-Xop5v.selected-C2YRC {
  color: #1a1a1a;
  background: #66cc66;
}
.hero-h1uJx {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: url('images/hero.jpg') center / cover no-repeat;
}
.hero-h1uJx > .logo-EQV4J {
  flex: 1;
  margin: 8px 8px;
  background: url('images/favicon.svg') bottom right / auto 50% no-repeat;
}


/*# sourceMappingURL=960.c9fb02eba31acafa58ed.css.map*/